// ==== Font family ====

/*
    Fonts:
        1. Primary - PlusJakartaSans
        2. Secondary - Sora
*/



// ==== Primary font ====

@font-face {
    font-family: "primary-regular";
    src: url("../fonts/PlusJakartaSans-Regular.woff");
    font-display: swap;
}

@font-face {
    font-family: "primary-light";
    src: url("../fonts/PlusJakartaSans-Light.woff");
    font-display: swap;
}

@font-face {
    font-family: "primary-italic";
    src: url("../fonts/PlusJakartaSans-Italic.woff");
    font-display: swap;
}

@font-face {
    font-family: "primary-light-italic";
    src: url("../fonts/PlusJakartaSans-LightItalic.woff");
    font-display: swap;
}

@font-face {
    font-family: "primary-medium";
    src: url("../fonts/PlusJakartaSans-Medium.woff");
    font-display: swap;
}

@font-face {
    font-family: "primary-semi-bold";
    src: url("../fonts/PlusJakartaSans-SemiBold.woff");
    font-display: swap;
}

@font-face {
    font-family: "primary-bold";
    src: url("../fonts/PlusJakartaSans-Bold.woff");
    font-display: swap;
}


// ==== Secondary font ====

@font-face {
    font-family: "secondary-regular";
    src: url("../fonts/Sora-Regular.woff");
    font-display: swap;
}

@font-face {
    font-family: "secondary-bold";
    src: url("../fonts/Sora-Bold.woff");
    font-display: swap;
}

@font-face {
    font-family: "secondary-semi-bold";
    src: url("../fonts/Sora-SemiBold.woff");
    font-display: swap;
}

// ==== Font variables =====

// Primary fonts
$font-primary-regular: "primary-regular", Arial, Helvetica, sans-serif;
$font-primary-light: "primary-light", Arial, Helvetica, sans-serif;
$font-primary-italic: "primary-italic", Arial, Helvetica, sans-serif;
$font-primary-light-italic: "primary-light-italic", Arial, Helvetica, sans-serif;
$font-primary-medium: "primary-medium", Arial, Helvetica, sans-serif;
$font-primary-semi-bold: "primary-semi-bold", Arial, Helvetica, sans-serif;
$font-primary-bold: "primary-bold", Arial, Helvetica, sans-serif;


// Secondary fonts
$font-secondary-regular: "secondary-regular", Arial, Helvetica, sans-serif;
$font-secondary-bold: "secondary-bold", Arial, Helvetica, sans-serif;
$font-secondary-semi-bold: "secondary-semi-bold", Arial, Helvetica, sans-serif;
// $font-secondary-italic: "secondary-italic", Arial, Helvetica, sans-serif;

.font-primary-regular {
    font-family: $font-primary-regular;
}

.font-primary-italic {
    font-family: $font-primary-italic;
}