@import "../colors";

// ==== Background colors ====

.bg-white {
    background-color: $white !important;
}

.bg-navy-blue {
    background-color: $primary-color !important;
}

.bg-black {
    background-color: $secondary-color !important;
}

.bg-pure-black {
    background-color: $pure-black !important;
}

.bg-gray {
    background-color: $tertiary-color !important;
}

.bg-light-gray {
    background-color: $fifth-color !important;
}

.bg-navy-light-blue {
    background-color: $sixth-color !important;
}