.postfooter {
    color: $white;
    background-color: $primary-color;
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;
    border-top: 1px solid $white;

    p {
        color: $white;
        font-size: 12px;
        line-height: 15px;
    }
}



// // RESPONSIVE
// @media(max-width: 576px) {

//     .postfooter {
//         display: none;
//     }
// }