/*
    ==== POST META ====

    Component description:
        Meta data about post.

    Modificators:
        No modificators.
*/

.post-meta {
    padding: 40px 0;
    border-bottom: 1px solid rgb(192, 187, 187);

    .post-meta__inner {

        .posted-on {
            
        }
    }
}