// ==== Mixins ====

// Make a pseudo element
@mixin pseudo($content, $width, $height, $position) {
	content: $content;
	display: block;
	width: $width;
	height: $height;
	position: $position;
}

// Make a flex element with its settings
@mixin flex($horizontal, $vertical, $direction, $wrap) {
	display: flex;
	align-items: $horizontal;
	justify-content: $vertical;
	flex-direction: $direction;
	flex-wrap: $wrap;
}

// Font settings
@mixin font($fontfamily, $fontweight, $fontsize, $lineheight) {
	font-family: $fontfamily;
	font-weight: $fontweight;
	font-size: $fontsize;
	line-height: $lineheight;
}