/*
    ==== DESKTOP SPACING ====

    Description:
        List of all aviailable spacings (padding and margin) accross the website - DESKTOP view.
    
    Modificators:
        No modificators.
*/


@media(min-width: 992px) {

    // ==== Padding ====

    .padding-top-0--desktop {
        padding-top: 0 !important;
    }

    .padding-bottom-0--desktop {
        padding-bottom: 0 !important;
    }

    .padding-top-50--desktop {
        padding-top: 50px !important;
    }

    .padding-bottom-50--desktop {
        padding-bottom: 50px !important;
    }

    .padding-top-100--desktop {
        padding-top: 100px !important;
    }

    .padding-bottom-100--desktop {
        padding-bottom: 100px !important;
    }

    .padding-top-150--desktop {
        padding-top: 150px !important;
    }

    .padding-bottom-150--desktop {
        padding-bottom: 150px !important;
    }

    .padding-top-200--desktop {
        padding-top: 200px !important;
    }

    .padding-bottom-200--desktop {
        padding-bottom: 200px !important;
    }

    // ==== Margin ====

    .margin-top-0--desktop {
        margin-top: 0 !important;
    }

    .margin-bottom-0--desktop {
        margin-bottom: 0 !important;
    }

    .margin-top-50--desktop {
        margin-top: 50px !important;
    }

    .margin-bottom-50--desktop {
        margin-bottom: 50px !important;
    }

    .margin-top-100--desktop {
        margin-top: 100px !important;
    }

    .margin-bottom-100--desktop {
        margin-bottom: 100px !important;
    }

    .margin-top-150--desktop {
        margin-top: 150px !important;
    }

    .margin-bottom-150--desktop {
        margin-bottom: 150px !important;
    }

    .margin-top-200--desktop {
        margin-top: 200px !important;
    }

    .margin-bottom-200--desktop {
        margin-bottom: 200px !important;
    }
}