/*
    ==== MOBILE SPACING ====

    Description:
        List of all aviailable spacings (padding and margin) accross the website - MOBILE view.
    
    Modificators:
        No modificators.
*/


@media(max-width: 575px) {

    // ==== Padding ====

    .padding-top-0--mobile {
        padding-top: 0 !important;
    }

    .padding-bottom-0--mobile {
        padding-bottom: 0 !important;
    }

    .padding-top-50--mobile {
        padding-top: 50px !important;
    }

    .padding-bottom-50--mobile {
        padding-bottom: 50px !important;
    }

    .padding-top-100--mobile {
        padding-top: 100px !important;
    }

    .padding-bottom-100--mobile {
        padding-bottom: 100px !important;
    }

    .padding-top-150--mobile {
        padding-top: 150px !important;
    }

    .padding-bottom-150--mobile {
        padding-bottom: 150px !important;
    }

    .padding-top-200--mobile {
        padding-top: 200px !important;
    }

    .padding-bottom-200--mobile {
        padding-bottom: 200px !important;
    }

    // ==== Margin ====

    .margin-top-0--mobile {
        margin-top: 0 !important;
    }

    .margin-bottom-0--mobile {
        margin-bottom: 0 !important;
    }

    .margin-top-50--mobile {
        margin-top: 50px !important;
    }

    .margin-bottom-50--mobile {
        margin-bottom: 50px !important;
    }

    .margin-top-100--mobile {
        margin-top: 100px !important;
    }

    .margin-bottom-100--mobile {
        margin-bottom: 100px !important;
    }

    .margin-top-150--mobile {
        margin-top: 150px !important;
    }

    .margin-bottom-150--mobile {
        margin-bottom: 150px !important;
    }

    .margin-top-200--mobile {
        margin-top: 200px !important;
    }

    .margin-bottom-200--mobile {
        margin-bottom: 200px !important;
    }
}